<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>糖果管理系统-主页</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/tangguo-hotel.css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部导航-->
    <div class="layui-header header header-demo">
        <div class="layui-main">
            <a class="shrink" href="javascript:;" id="navSorH"><i class="layui-icon layui-icon-shrink-right"></i></a>
            <a class="logo-font" href="#">糖果酒店管理系统</a>
            <!-- 天气信息 -->
            <a href="javascript:;"><div class="weather" pc>
                <div id="tp-weather-widget"></div>
                <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
                <script>tpwidget("init", {
                    "flavor": "slim",
                    "location": "WT33C6J2C563",
                    "geolocation": "enabled",
                    "language": "zh-chs",
                    "unit": "c",
                    "theme": "chameleon",
                    "container": "tp-weather-widget",
                    "bubble": "enabled",
                    "alarmType": "badge",
                    "color": "#FFFFFF",
                    "uid": "U78371FB98",
                    "hash": "cd55c15865ecbe0f16ba78ca60ad51eb"
                });tpwidget("show");
                </script>
            </div></a>
            <ul class="layui-nav">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" id="notice"><i class="layui-icon layui-icon-notice">&nbsp;</i>系统公告<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item" id="refresh" lay-unselect>
                    <a href="javascript:;"><i class="layui-icon layui-icon-refresh">&nbsp;</i>刷新权限</a>
                </li>
                <li class="layui-nav-item" id="fu" lay-unselect>
                    <a href="javascript:;"><i class="layui-icon layui-icon-theme">&nbsp;</i>换肤</a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" id="lockScreen"><i class="layui-icon layui-icon-password">&nbsp;</i>锁屏</a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a id="fullScreen" href="javascript:;">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <img th:src="${session.currentUser.photo != null ? session.currentUser.photo : '/images/default-admin.png'}"
                             class="layui-nav-img"><span th:text="${session.currentUser.username}"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Safety/ModifyInformation" target="demoAdmin">个人信息</a></dd>
                        <dd><a href="/Safety/SecurityManagement" target="demoAdmin">安全管理</a></dd>
                        <dd><a href="/Login/out">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--侧边导航-->
    <div class="layui-side bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <img th:src="${session.currentUser.photo != null ? session.currentUser.photo : '/images/default-admin.png'}" class="img">
                <div class="welcome-font"><em>欢迎：</em><a href="#" th:text="${session.currentUser.username}"></a></div>
                <li class="layui-nav-item">
                    <a href="/Admin/lun" target="demoAdmin"><i class="layui-icon layui-icon-home"></i>首页</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/Room/map" target="demoAdmin"><i class="layui-icon layui-icon-chart-screen"></i>房间统计</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-chat"></i>预订管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Customer/toOrderList" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-table"></i>预订列表</a></dd>
                        <dd><a href="/Customer/tolistTenants4" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-table"></i>预约列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="layui-icon layui-icon-app"></i>房间管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Room/roomState" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-chart"></i>房间状态</a></dd>
                        <dd><a href="/Room/toRoomList" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-table"></i>房间列表</a></dd>
                        <dd><a href="/Room/toAddRoom" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-add-circle-fine"></i>添加房间</a></dd>
                        <dd><a href="/Room/toRoomTypeList" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-table"></i>房间类型</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-template-1"></i>顾客管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Tenant/tolistTenants2" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-table"></i>入住列表</a></dd>
                        <dd><a href="/Tenant/tolistTenants1" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-table"></i>顾客历史信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-set"></i>设置管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Admin/toList" target="demoAdmin">&nbsp;&nbsp;<i class="layui-icon layui-icon-set-sm"></i>员工信息</a></dd>
                        <dd><a href="/Admin/register" target="demoAdmin" id="res">&nbsp;&nbsp;<i class="layui-icon layui-icon-friends"></i>员工注册</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body">
        <iframe src="/Safety/ModifyInformation" frameborder="0" name="demoAdmin" id="demoAdmin" style="width: 100%;"></iframe>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer">
        Copyright © 2019 · 糖果酒店管理系统 · 服务器赞助: UCloud · 网站程序: Spring Boot · ICP备888888号 <span id="time"></span>
    </div>
</div>
<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/index.js" type="text/javascript"></script>
<script type="text/javascript">
    layui.use(['layer','jquery'], function() {
        var layer = layui.layer,
            $ = layui.jquery;

        if ("[[${session.lock}]]" != "lock") {
            layer.msg("Hello [[${session.currentUser.username}]]");
        }

        if ("[[${session.lock}]]" == "lock") {
            layer.open({
                type: 2,
                id:'edit',
                anim: 6,
                area: ['348px', '208px'],
                resize:false,
                title: false,
                closeBtn: false,
                shade: 0.9,
                content: ['/Safety/lockScreen', 'no']
            });
        }
    });
</script>
</body>
</html>