<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>糖果管理系统-登录</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
</head>
<body>
<div class="kit-login">
    <div class="kit-login-bg"></div>
    <div class="kit-login-wapper">
        <h2 class="kit-login-slogan"><span>欢迎使用</span><br>糖果酒店后台管理系统</h2>
        <div class="kit-login-form">
            <h4 class="kit-login-title">登录</h4>
            <form class="layui-form">
                <div class="kit-login-row">
                    <div class="kit-login-col">
                        <i class="layui-icon">&#xe678;</i>&nbsp;
                        <span class="kit-login-input">
                    <input type="text" name="username" id="username" autocomplete="off" lay-verify="required" placeholder="用户名" />
                  </span>
                    </div>
                    <div class="kit-login-col"></div>
                </div>
                <div class="kit-login-row">
                    <div class="kit-login-col">
                        <i class="layui-icon">&#xe673;</i>&nbsp;
                        <span class="kit-login-input">
	                  <input type="password" name="password" id="password" lay-verify="required" placeholder="密码" />
	              </span>
                    </div>
                    <div class="kit-login-col"></div>
                </div>
                <div class="kit-login-row">
                    <div class="kit-login-col">
                        <i class="layui-icon">&#xe673;</i>&nbsp;
                        <span class="kit-login-input">
	                  <input type="text" id="yzm" lay-verify="yzm" autocomplete="off" placeholder="验证码" />
                            <a href="javascript:;" class="yzm" id="yan"></a>
	              </span>
                    </div>
                    <div class="kit-login-col"></div>
                </div>
                <div class="kit-login-row">
                    <div class="kit-login-col">
                        <input type="checkbox" id="rememberMe" name="rememberMe" title="记住我" lay-skin="primary"/>
                    </div>
                </div>
                <div class="kit-login-row">
                    <button class="layui-btn kit-login-btn" lay-submit="submit" lay-filter="login_hash">登录</button>
                </div>
                <div class="kit-login-row" style="margin-bottom:0;">
                    <a href="javascript:;" style="color: rgb(153, 153, 153); text-decoration: none; font-size: 13px;" id="forget">忘记密码</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer','form','jquery'], function() {
        var form = layui.form,
            $ = layui.jquery;

        $('#forget').on('click', function() {
            location.href = '/Admin/updateByPassword';
        });

        form.verify({
            yzm: function (value, item) {
                if ($("#yzm").val() == "") {
                    return '验证码不能为空';
                }
                if ($("#yzm").val().toUpperCase() != code) {
                    createCode();
                    return '验证码错误';
                }
            }
        });

        //验证码
        var code;
        function createCode(){
            code = '';//首先默认code为空字符串
            var codeLength = 4;//设置长度，这里看需求，我这里设置了4
            var codeV = $("#yan");
            //设置随机字符
            var random = new Array(0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R', 'S','T','U','V','W','X','Y','Z');
            for(var i = 0; i < codeLength; i++){ //循环codeLength 我设置的4就是循环4次
                var index = Math.floor(Math.random()*36); //设置随机数范围,这设置为0 ~ 36
                code += random[index]; //字符串拼接 将每次随机的字符 进行拼接
            }
            codeV.text(code);//将拼接好的字符串赋值给展示的Value
        }
        //页面开始加载验证码
        createCode();
        //验证码Div加载点击事件
        $("#yan").bind('click',function() {
            createCode();
        });

        //监听提交
        form.on('submit(login_hash)', function(data) {
            var param=data.field;//定义临时变量获取表单提交过来的数据，非json格式
            console.log(JSON.stringify(param));//测试是否获取到表单数据，调试模式下在页面控制台查看
            var layIndex = layer.load(2, {
                shade: [0.1, '#393D49']
            });
            $.ajax({
                url:"/Admin/doLogin",
                type:'post',//method请求方式，get或者post
                dataType:'json',//预期服务器返回的数据类型
                data:JSON.stringify(param),//表格数据序列化
                contentType: "application/json; charset=utf-8",
                success:function(res){//res为相应体,function为回调函数
                    console.log(res);
                    if(res.code == 200){
                        setTimeout(function() {
                            location.href = '/';
                        }, 100);
                    }else {
                        layer.close(layIndex);
                        layer.msg(res.message, {icon: 5,anim: 6});
                        return false;
                    }
                },
                error:function(){
                    layer.close(layIndex);
                    layer.alert('操作失败！！！',{icon:5});
                    return false;
                }
            });
            return false;
        });
    });

</script>
</body>
</html>