<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑房间</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css"/>
    <style type="text/css">
        .cent{width: 40%;margin: 0px auto;}
        .input-btn{margin: 0px auto;width: 183px;}
        .photo{padding-left: 50px;}
        .photo button{margin-left: 22px;}
        .photo img{padding: 0px 5px 8px 5px;width: 100px;height: 80px;}
        .photo p{margin-left: 9px;}
    </style>
</head>
<body>
<div class="cent">
    <fieldset class="layui-elem-field" style="margin-top: 10px;">
        <legend>添加房间：增加客房信息</legend>
        <div class="layui-field-box">
            <div class="layui-upload photo">
                <button type="button" class="layui-btn layui-btn-sm" id="test">更改图片</button>
                <div class="layui-upload-list">
                    <img src="" alt="房间照片" id="demo"/>
                    <p id="demoText"></p>
                </div>
            </div>
            <form class="layui-form layui-form-pane" id="addForm" method="post" enctype="multipart/form-data">
                <input type="text" id="id" name="id" hidden>
                <input type="text" id="defaultRoom" hidden>
                <div class="layui-form-item">
                    <label class="layui-form-label">房间号：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="roomNumber" id="roomNumber" lay-verify="required|shu|roomNumber" placeholder="101" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">必须是数字</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房间名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roomName" id="roomName" lay-verify="required" placeholder="经济舒适单人间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">床型：</label>
                    <div class="layui-input-block">
                        <input type="text" name="bedType" id="bedType" lay-verify="required" placeholder="一张单人床" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">宽带：</label>
                    <div class="layui-input-block">
                        <input type="text" name="broadband" id="broadband" lay-verify="required" placeholder="免费wifi" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标准价：</label>
                    <div class="layui-input-block">
                        <input type="text" name="standardPrice" id="standardPrice" lay-verify="required|shu" placeholder="199" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">会员价：</label>
                    <div class="layui-input-block">
                        <input type="text" name="memberPrice" id="memberPrice" lay-verify="required|shu" placeholder="188" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房间状态：</label>
                    <div class="layui-input-block">
                        <select name="roomStatus" id="roomStatus">
                            <option value="空闲">空闲</option>
                            <option value="预订">预订</option>
                            <option value="入住">入住</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">是否有窗：</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="roomWindow" id="roomWindow" lay-skin="switch" value="1" lay-text="有|无">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房间面积：</label>
                    <div class="layui-input-block">
                        <input type="text" name="roomArea" id="roomArea" lay-verify="required" placeholder="60平方" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房间类型：</label>
                    <div class="layui-input-block">
                        <select name="roomType" id="roomType">
                            <option th:each="roomType : ${roomTypes}" th:text="${roomType.name}" th:value="${roomType.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="input-btn">
                        <button class="layui-btn layui-btn-lg" lay-submit lay-filter="formDemo">修改</button>
                        <button type="reset" class="layui-btn layui-btn-lg layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </fieldset>
</div>
<script src="/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['layer','form','upload'], function() {
        var form = layui.form,
            $ = layui.jquery,
            upload = layui.upload;

        form.verify({
            shu: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(/[^0-9]/g.test(value)){
                    return '必须全为数字';
                }
            }
            ,roomNumber: function () {
                var r = "";
                var roomNumber = $("#roomNumber").val();
                var defaultRoom = $("#defaultRoom").val();
                $.ajax({
                    type:"GET",
                    url:"/Room/roomNumber",
                    data:{roomNumber:roomNumber,defaultRoom:defaultRoom},
                    dataType:"json",
                    async:false,
                    contentType: "application/json; charset=utf-8",
                    success:function(res){
                        if(res.code == 200){//可用
                            return true;
                        }else{
                            layer.tips(res.message, '#roomNumber',{tips:[2,'red']});
                            r = res.message;
                        }
                    },
                    error:function(){//当访问时候，404，500 等非200的错误状态码
                        r = "请求错误";
                    }
                });
                return r;
            }
        });

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test'
            ,method:'post'
            ,url: '/Room/updatePhoto'
            ,before: function(obj){
                this.data = {
                    id: $("#id").val()
                };
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //上传成功
                if(res.code == 200){
                    layer.msg('更改成功！');
                }
                //如果上传失败
                else{
                    return layer.msg(res.message, {icon: 5,anim: 6});
                }

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data) {
            console.log(JSON.stringify(data.field));
            $.ajax({
                type:"post",
                url:"/Room/editRoom",
                data:JSON.stringify(data.field),
                dataType:"json",
                contentType: "application/json; charset=utf-8",
                success:function(res){
                    if(res.code==200){
                        layer.msg('编辑成功！', {
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            parent.window.location.reload();
                        });
                        return false;
                    }else{
                        layer.msg(res.message, {icon: 5,anim: 6});
                        return false;
                    }
                },
                error:function(data){//当访问时候，404，500 等非200的错误状态码
                    layer.msg('请求错误！', {icon: 5,anim: 6});
                    return false;
                }
            });
            return false;
        });
    });
</script>
</body>
</html>