<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.cyx.hotel.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="person.cyx.hotel.model.Permission" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="resource" property="resource" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, name, resource
    </sql>

    <select id="getAllResources" resultType="String" >
        select resource from permission
    </select>

    <select id="getPermissionResourcesByUserId" resultType="String" parameterType="java.lang.Long" >
        select resource from permission where id in (select permission_id from role_permission
        where role_id in(select role_id from admin_role where admin_id = #{admin_id,jdbcType=BIGINT}));
    </select>

    <select id="getPermissionIdByRoleId" resultType="Long" parameterType="java.lang.Long">
        select permission_id from role_permission where role_id = #{roleId}
    </select>

    <delete id="delRolePermission" parameterType="java.lang.Long">
        delete from role_permission
        where role_id = #{roleId,jdbcType=BIGINT}
    </delete>

    <insert id="insertRolePermission" parameterType="java.lang.Long">
        insert into role_permission (role_id,permission_id)
        values (#{roleId,jdbcType=BIGINT}, #{permission,jdbcType=BIGINT})
    </insert>

</mapper>