<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="person.cyx.hotel.mapper.RoomTypeMapper">
  <resultMap id="BaseResultMap" type="person.cyx.hotel.model.RoomType">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="created" jdbcType="BIGINT" property="created" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, created, remarks, photo
  </sql>

  <select id="roomTypeList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hotel_room_type
  </select>

  <select id="fuzzyQueryRoomType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hotel_room_type
    where name like '%${name}%'
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hotel_room_type
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from hotel_room_type
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="person.cyx.hotel.model.RoomType">
    insert into hotel_room_type (id, name, created, 
      remarks, photo)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{created,jdbcType=BIGINT}, 
      #{remarks,jdbcType=VARCHAR}), #{photo,jdbcType=VARCHAR}
  </insert>
  <insert id="insertSelective" parameterType="person.cyx.hotel.model.RoomType">
    insert into hotel_room_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="photo != null">
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=BIGINT},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="person.cyx.hotel.model.RoomType">
    update hotel_room_type
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=BIGINT},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="person.cyx.hotel.model.RoomType">
    update hotel_room_type
    set name = #{name,jdbcType=VARCHAR},
      created = #{created,jdbcType=BIGINT},
      remarks = #{remarks,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>